<script>
function getDAQIStatusText(index) {
  if (!isNumeric(index) || index < 0) {
    return '{{__ "daqi.status.invalid"}}';
  } else if (index <= 35) {
    return '{{{__ "daqi.status.low"}}}';
  } else if (index <= 53) {
    return '{{{__ "daqi.status.moderate"}}}';
  } else if (index <= 70) {
    return '{{{__ "daqi.status.high"}}}';
  } else {
    return '{{{__ "daqi.status.extreme"}}}';
  }
}
</script>

      <script src="/pm25/js/jquery-2.1.1.min.js" type="text/javascript"></script>
      <script src="/pm25/js/materialize.js" type="text/javascript"></script>
      <script src="/pm25/js/moment-with-locales.min.js" type="text/javascript"></script>
      <script src="/pm25/js/livestamp.min.js" type="text/javascript"></script>
      <script src="/pm25/js/base.js" type="text/javascript"></script>
