<div class="navbar-fixed">
    <nav class="teal" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/pm25/" class="brand-logo hide-on-med-and-down">Project SensorWeb</a>
        <ul id="nav" class="right hide-on-med-and-down">
          {{> menu}}
        </ul>

        <ul id="nav-mobile" class="side-nav">
          {{> menu show_home=true}}
        </ul>
        <a href="javascript:void(0);" data-activates="nav-mobile" class="button-collapse"><!--googleoff: index--><i class="material-icons">menu</i><!--googleon: index--></a>
      </div>
    </nav>
</div>
