      <meta property="og:title" content="" />
      <meta property="og:description" content="懸浮粒子特指懸浮在空氣中的固體顆粒或液滴，是空氣污染的主要來源之一。直徑小於或等於2.5微米的懸浮粒子稱為細懸浮粒子（PM2.5）。由於體積更小，PM2.5具有更強的穿透力，可能抵達細支氣管壁，並干擾肺內的氣體交換。" />
      <meta property="og:image" content="/pm25/images/thumbnail.png">
      <meta property="og:image:type" content="image/png">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="1200">
      <link rel="icon" type="image/x-icon" href="/pm25/images/favicon.ico">
      <link rel="apple-touch-icon" href="/pm25/images/favicon-192x192.png"/>
      <link rel="apple-touch-icon-precomposed" href="/pm25/images/favicon-192x192.png"/>
