<div id="pm25-modal" class="modal">
	<div id="form-header"><span class="marked">PM2.5</span> 是什麼？<i class="material-icons modal-close" id="close">close</i></div>
	<div class="pm25-content description">
		<p>懸浮粒子 (particulate matter, PM)，在環境科學中，特指懸浮在空氣中的固體顆粒或液滴，是空氣污染的主要來源之一。直徑小於或等於2.5微米的懸浮粒子稱為細懸浮粒子（PM2.5）。由於體積更小，PM2.5具有更強的穿透力，可能抵達細支氣管壁，並干擾肺內的氣體交換。</p>
		<ul>
			<strong>參考連結：</strong>
			<li><a href="https://zh.wikipedia.org/wiki/懸浮粒子">維基百科 - 懸浮粒子</a></li>
			<li><a href="http://air.epa.gov.tw/Download/UpFile/2015/pm25.pdf">環保署 - 認識細懸浮微粒 PM2.5</a></li>
			<li><a href="http://taqm.epa.gov.tw/taqm/tw/fpmi.htm">環保署 PM2.5 指標說明</a></li>
		</ul>
	</div>
</div>
