{{! params: String form_id, String form_title, String form_type, String region_id, String station_id, Boolean location, Boolean setup, Boolean survey }}
<div id="{{ form_id }}" class="subscribe-modal modal">
   <div class="form-header"><span class="modal-header">{{ form_title }}</span><i class="material-icons modal-close">close</i></div>
   <div class="subscribe modal-content">
      <form action="{{ config.api_url }}/pm25/subscriptions" method="POST" class="subscribe-form">
         <input class="sub-type" type="hidden" name="type" value="{{ form_type }}">
         <input name="email" class="sub-email subscribe-input" type="text" placeholder="{{__ 'input.email.placeholder'}}" required="">
         {{#if region_id}}
         <input type="hidden" name="region_id" class="sub-region-id" value="{{region_id}}">
         {{/if}}
         {{#if station_id}}
         <input type="hidden" name="station_id" class="sub-station-id" value="{{station_id}}">
         {{/if}}

         {{#if location}}
         {{#if setup}}
         <span class="location-input-message">{{__ 'input.setup.station.message'}}</span>
         {{else}}
         <span class="location-input-message">{{__ 'input.wait.station.message'}}</span>
         {{/if}}
         {{{__ 'input.request.gps'}}}
         <div class="gps-progress progress"><div class="indeterminate"></div></div>
         <input type="hidden" name="latitude" class="sub-lat">
         <input type="hidden" name="longitude" class="sub-lng">
         <div class="map"></div>
         <span class="coords-error">{{__ 'input.error.no.coords'}}</span>

         {{/if}}
         {{#if survey}}
         <label>{{__ 'input.frequency.prompt'}}</label>
         <select class="sub-freq" name="frequency" type="text">
            <option disabled="" selected="" value="">{{__ 'input.frequency.placeholder'}}</option>
            <option value="everyday">{{__ 'input.frequency.everyday'}}</option>
            <option value="5days_per_week">{{__ 'input.frequency.5days.per.week'}}</option>
            <option value="2days_per_week">{{__ 'input.frequency.2days.per.week'}}</option>
            <option value="seldom">{{__ 'input.frequency.seldom'}}</option>
         </select>
         <span></span>
         <label>{{__ 'input.reason.prompt'}}</label>
         <select class="sub-reason" name="reason" type="text">
            <option disabled="" selected="" value="">{{__ 'input.reason.placeholder'}}</option>
            <option value="my_disease">{{__ 'input.reason.my.disease'}}</option>
            <option value="family_disease">{{__ 'input.reason.family.disease'}}</option>
            <option value="my_health">{{__ 'input.reason.my.health'}}</option>
            <option value="family_health">{{__ 'input.reason.family.health'}}</option>
            <option value="better_world">{{__ 'input.reason.better.world'}}</option>
         </select>
         {{/if}}
         {{#if setup}}
         <input name="reason_join" class="sub-reason-join subscribe-input" type="text" placeholder="{{__ 'input.reason.join.placeholder'}}">
         {{/if}}
         <div class="submit-area">
           <input name="submit" value="{{__ 'input.submit'}}" class="subscribe-sensor waves-effect waves-light btn-large" type="submit">
         </div>
         <p class="mute">{{{__ 'input.privacy.note'}}}</p>
      </form>
   </div>
</div>