<div id="subscribe-modal" class="modal">
   <div id="form-header">PM2.5 空氣品質通知<i class="material-icons modal-close" id="close">close</i></div>
   <div id="subscribe" class="modal-content">
      <form action="https://docs.google.com/a/mozilla.com/forms/d/e/1FAIpQLSeZ9OEFQrRhmtz3azHVwbMDoraNo14r1qiq2TOp8APRWQY12g/formResponse" method="POST" id="subscribe-form" target="temp_iframe" onsubmit="submitted=true;">
         <input id="sub-email" name="entry.301006003" class="subscribe-input" jsname="L9xHkb" type="text" placeholder="電子郵件（必填）" required="">

         {{#if survey}}
         <input id="sub-name" name="entry.319252376" class="subscribe-input" jsname="L9xHkb" type="text" placeholder="姓名">

         <label>你平常一週中有幾天在此區域活動？</label>
         <select id="sub-freq" name="entry.226467370" jsname="L9xHkb" type="text">
            <option disabled="" selected="" value="">請選擇最接近的一項</option>
            <option value="幾乎每天">幾乎每天</option>
            <option value="一週五天">一週五天</option>
            <option value="一週兩天">一週兩天</option>
            <option value="很少">很少</option>
         </select>
         <span></span>
         <label>你為何關心PM2.5數值?</label>
         <select id="sub-reason" name="entry.565411271" jsname="ekGZBc" type="text">
            <option disabled="" selected="" value="">請選擇最符合的一項</option>
            <option value="我有心血管／呼吸系統疾病">我有心血管／呼吸系統疾病</option>
            <option value="我的家人有心血管／呼吸系統疾病">我的家人有心血管／呼吸系統疾病</option>
            <option value="我在意自己的健康">我在意自己的健康</option>
            <option value="我在意孩子和長輩的健康">我在意孩子和長輩的健康</option>
            <option value="我想協助改善社區／城市居住環境">我想協助改善社區／城市居住環境</option>
         </select>
         {{/if}}
         <input name="entry.68562270" jsname="ekGZBc" value="" type="hidden">
         <input name="entry.1918318603" jsname="L9xHkb" type="hidden" value="{{ id }}">
         <input name="fvv" value="1" type="hidden">
         <input name="draftResponse" value="[,,&quot;365822309556244423&quot;]
            " type="hidden">
         <input name="pageHistory" value="0" type="hidden">
         <input name="fbzx" value="365822309556244423" type="hidden">
         <div id="submit-area">
           <input name="submit" value="提交" id="subscribe-sensor" class="waves-effect waves-light btn-large" type="submit">
         </div>
         <p class="mute">點擊「提交」之後，即代表我同意 Mozilla 依照此份<a href="/privacy.html" target="_blank">隱私權政策</a>所述，處理我的個人資料。</p>
      </form>
   </div>
</div>