
<html>
   <head>
      {{> meta page_title=(__ 'about.sensorweb')}}
      {{> styles }}
      {{> head_scripts}}
   </head>
   <body>
      {{> header}}
      {{> fb}}
      <div class="card">
           <div class="container" id="what">
             <div class="section">
               <div class="row">
                 <div>
                   <h1 class="heading">{{__ 'about.sensorweb'}}</h3>
                   <p>
                     {{__ 'about.description'}}
                   </p>
                 </div>
                 <iframe id="intro-video" width="560" height="315" src="https://www.youtube.com/embed/m1B4uPNykio" frameborder="0" allowfullscreen></iframe>
               </div>
             </div>
         </div>
      </div>

      {{> footer}}

      {{> body_scripts}}
   </body>
</html>

