
<html>
   <head>
      {{> meta page_title=(__ 'region.%s.title' display_name)}}
      {{> styles }}
      {{> head_scripts}}
   </head>
   <body>
      {{> header}}
      {{> fb}}
      <div class="card">
         <!-- Go to www.addthis.com/dashboard to customize your tools -->
         <div class="addthis_sharing_toolbox"></div>
         <h1><span id="latest-pm25">{{ average.pm2_5 }}</span><span id="unit">&micro;g/m&sup3;</span></h1>
         <h2 id="pm25">{{{__ 'pm25.concentration.average'}}}<a class="question-mark" href="javascript:void(0);"><!--googleoff: index--><i class="material-icons">help_outline</i><!--googleon: index--></a></h2>
         <h3 id="location">@{{ display_name }}</h3>
         <h3 id="update">{{__ 'last.update'}} <time id="latest-time" data-livestamp="{{ average.create_time }}"></time></h3>
         <div id="latest-status"></div>
         <br>
         <a id="subscribe" class="waves-effect waves-light btn-large modal-trigger" href="#subscribe-form"><!--googleoff: index--><i class="material-icons">add_alert</i><!--googleon: index-->{{__ 'pm25.subscribe.button'}}</a>
      </div>
      <div class="card">
         <h2 class="medium">{{{__ 'nearby.stations.heading'}}}</h2>
         <ul id="nearby-stations">
         </ul>
         {{#if show_get_sensor}}
            <p>
            {{__ 'get.sensor.prompt'}}<br>
            <a id="subscribe" class="waves-effect waves-light btn-large" href="/pm25/request/">{{__ 'get.sensor.button'}}</a>
            </p>
         {{/if}}
      </div>
      <div class="card">
         <h2 class="medium">{{{__ 'region.%s.top.heading' '臺北市'}}}</h2>
         <ul id="state-rank">
            {{#if stateTop.length}}
            {{#each stateTop}}
               <li>
                  <a href="/pm25/station/{{ this.slug }}/">
                     <span class="concentration">
                        <span class="concentration-value">{{ this.data.pm2_5 }}</span><span id="unit">&micro;g/m&sup3;</span>
                     </span>
                     <span class="location">@{{ this.display_name }}</span>
                     <time class="update-time" data-livestamp="{{ this.data.create_time }}"></time>
                  </a>
               </li>
            {{/each}}
            {{else}}
              <li class="nodata">{{__ 'sorry.no.station'}}</li>
            {{/if}}
         </ul>
      </div>
      <div class="card">
         <h2 class="medium">{{{__ 'region.%s.top.heading' '臺灣'}}}</h2>
         <ul id="country-rank">
            {{#if countryTop.length}}
            {{#each countryTop}}
               <li>
                  <a class="clearfix" href="/pm25/station/{{ this.slug }}/">
                     <span class="concentration">
                        <span class="concentration-value">{{ this.data.pm2_5 }}</span><span id="unit">&micro;g/m&sup3;</span>
                     </span>
                     <span class="location">@{{ this.slug }}</span>
                     <time class="update-time" data-livestamp="{{ this.data.create_time }}"></time>
                  </a>
               </li>
            {{/each}}
            {{else}}
              <li class="nodata">{{__ 'sorry.no.station'}}</li>
            {{/if}}
         </ul>
      </div>
      {{> pm25_modal }}
      {{> subscribe_modal form_id='subscribe-form' form_type='region' form_title=(__ 'subscribe.modal.heading.pm25') region_id=id survey=true}}
      {{> footer}}
      <script type="text/javascript">
         /* templates for javascript */
         const getStationListItem = function (station, level) {
             return `
                  <li>
                      <a href="/pm25/station/${station.slug}/">
                         <span class="concentration"><span class="concentration-value ${level}">${ station.data.pm2_5 }</span><span id="unit">&micro;g/m&sup3;</span></span>
                         <span class="location">@${ station.display_name } <span class="distance">({{__ 'distance'}} ${station.distance/1000} {{__ 'km'}})</span></span>
                         <time class="update-time" data-livestamp="${ station.data.create_time }"></time>
                      </a>
                   </li>`;
         };
         const getProgressListItem = function () {
             return '<li class="nodata"><div class="progress"><div class="indeterminate"></div></div></li>';
         };
         const getNoDataListItem = function () {
             return '<li class="nodata">{{__ "sorry.no.nearby.station"}}</li>';
         };
         const getErrorListItem = function () {
             return '<li class="nodata">{{{__ "sorry.no.gps"}}}</li>';
         };
      </script>
      {{> body_scripts}}
      <script src="/pm25/js/index.js"></script>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57857d9efaca9ced"></script>
   </body>
</html>

