
<html>
   <head>
      {{> meta page_title=(__ 'index.title')}}
      {{> styles }}
      {{> head_scripts}}
      {{> map_config}}
      <link rel="stylesheet" href="/pm25/css/leaflet.css" />
   </head>
   <body>
      {{> header}}
      {{> fb}}
      {{#if show_map_search}}
      <div id="searchbar" class="row">
          <div class="input-field autocomplete">
            <input id="search-input" type="search" data-activates="search-dropdown" data-beloworigin="true" autocomplete="off" required>
            <label for="search-input"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
          <ul id="search-dropdown" class="dropdown-content ac-dropdown"></ul>
      </div>
      <div id="map" width="800" height="300"></div>
      {{/if}}
      {{#if slug}}

      {{> concentration display_name=display_name form_type='region' data=average week=week}}

      <div class="card">
         <h2 class="medium">{{{__ 'nearby.stations.heading'}}}</h2>
         <ul id="nearby-stations">
         </ul>
            <p>
            {{__ 'get.sensor.help'}}<br>
            <div class="cta">
            <a id="get-sensor" class="waves-effect waves-light btn-large" href="/pm25/request/">{{__ 'get.sensor.button'}}</a>
            </div>
            </p>
      </div>

      <div class="card">
         <h2 class="medium">{{{__ 'relevant.regions.heading'}}}</h2>
         <ul id="nearby-regions">
            {{#if nearbyRegions.length}}
            {{#each nearbyRegions}}
              {{> concentration_listitem display_name=this.display_name path='/pm25/region/' slug=this.slug data=this.average distance=false}}
            {{/each}}
            {{else}}
              <li class="nodata">{{__ 'sorry.no.region'}}</li>
            {{/if}}
         </ul>
      </div>

      <div class="card">
         <h2 class="medium">{{{__ 'region.%s.top.heading' region_name}}}</h2>
         <ul id="state-rank">
            {{#if stateTop.length}}
            {{#each stateTop}}
              {{> concentration_listitem display_name=this.display_name path='/pm25/station/' slug=this.slug data=this.data}}
            {{/each}}
            {{else}}
              <li class="nodata">{{__ 'sorry.no.station'}}</li>
            {{/if}}
         </ul>
      </div>
      <div class="card">
         <h2 class="medium">{{{__ 'region.%s.top.heading' country}}}</h2>
         <ul id="country-rank">
            {{#if countryTop.length}}
            {{#each countryTop}}
              {{> concentration_listitem display_name=this.display_name path='/pm25/station/' slug=this.slug data=this.data}}
            {{/each}}
            {{else}}
              <li class="nodata">{{__ 'sorry.no.station'}}</li>
            {{/if}}
         </ul>
      </div>
      {{else}}
      <div class="card">
         <h2 class="medium">{{{__ 'sorry.no.region'}}}</h2>
            <p>
            {{__ 'get.sensor.help'}}<br>
            <a id="subscribe" class="waves-effect waves-light btn-large" href="/pm25/request/">{{__ 'get.sensor.button'}}</a>
            </p>
      </div>
      {{/if}}

      {{> pm25_modal }}
      {{> subscribe_modal form_id='region-subscribe-form' form_type='region' form_title=(__ 'subscribe.modal.heading.pm25') region_id=id survey=true}}

      {{> footer}}
      <script type="text/javascript">
         /* templates for javascript */
         const getProgressListItem = function () {
             return '<li class="nodata"><div class="progress"><div class="indeterminate"></div></div></li>';
         };
         const getErrorListItem = function () {
             return '<li class="nodata">{{{__ "sorry.no.gps"}}}</li>';
         };
      </script>
      {{> body_scripts}}
      <script src="/pm25/js/jquery.materialize-autocomplete.js" type="text/javascript"></script>
      <script src="/pm25/js/leaflet.js"></script>
      <script src="/pm25/js/station.js" type="text/javascript"></script>
      <script src="/pm25/js/index.js"></script>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57857d9efaca9ced"></script>
      <script>
        var PAGE_TITLE = '{{#if slug}}{{__ 'region.%s.title' display_name}}{{else if coords}}{{__ 'region.%s.title' region_name}}{{else}}{{__ 'region.%s.title' ''}}{{/if}}';
        $('title').text(PAGE_TITLE);
      </script>
   </body>
</html>

