
<html>
   <head>
      {{> meta page_title=(__ 'get.sensor.title')}}
      {{> styles }}
      <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
      {{> head_scripts}}
   </head>
   <body>
      {{> header}}
      {{> fb}}
      <div class="card no-padding">
         <h1 class="heading">{{__ 'get.sensor.heading'}}</h1>
       <ul class="collapsible" data-collapsible="accordion">
         <li>
          <div class="collapsible-header"><i class="material-icons">credit_card</i><b>{{__ 'buy.sensor.heading'}}</b></div>
          <div class="collapsible-body">
          <span>{{{__ 'buy.sensor.description'}}}</span>
          <br><br>
          <ul class="requirements">
            {{{__ 'buy.sensor.requirements'}}}
          </ul>
          <ul class="requirements">
            {{{__ 'buy.sensor.features'}}}
          </ul>
            <div class="cta">
           <a id="buy" class="waves-effect waves-light btn-large modal-trigger" href="#buy-station-form"><!--googleoff: index--><i class="material-icons">add_alert</i><!--googleon: index-->{{__ 'buy.sensor.button'}}</a>
           </div>
          </div>
         </li>
         <li>
          <div class="collapsible-header"><i class="material-icons">settings</i><b>{{__ 'diy.sensor.heading'}}</b></div>
          <div class="collapsible-body">
           <span>{{{__ 'diy.sensor.description'}}}</span>
          <br><br>
           <ul class="requirements">
             {{{__ 'diy.sensor.requirements'}}}</li>
           </ul>
           <ul class="requirements">
             {{{__ 'diy.sensor.skills'}}}
           </ul>
           <ul class="requirements">
             {{{__ 'diy.sensor.boards'}}}
           </ul>
           <div class="cta">
           <a id="get-api-key" class="waves-effect waves-light btn-large modal-trigger" href="#diy-station-form"><!--googleoff: index--><i class="material-icons">vpn_key</i><!--googleon: index-->{{__ 'diy.sensor.button'}}</a>
           </div>
          </div>
         </li>
         <li>
          <div class="collapsible-header"><i class="material-icons">add_alert</i><b>{{__ 'wait.sensor.heading'}}</b></div>
          <div class="collapsible-body">
           <span>{{{__ 'wait.sensor.description'}}}</span>
           <br>
           <div class="cta">
           <a id="subscribe" class="waves-effect waves-light btn-large modal-trigger" href="#new-station-form"><!--googleoff: index--><i class="material-icons">add_alert</i><!--googleon: index-->{{__ 'wait.sensor.button'}}</a>
           </div>
          </div>
         </li>
       </ul>
    </div>
      {{> pm25_modal}}
      {{> subscribe_modal form_id='buy-station-form' form_type='buy_station' form_title=(__ 'subscribe.modal.heading.buy.sensor') location=true setup=true}}
      {{> subscribe_modal form_id='diy-station-form' form_type='diy_station' form_title=(__ 'subscribe.modal.heading.diy.sensor') location=true setup=true}}
      {{> subscribe_modal form_id='new-station-form' form_type='new_station' form_title=(__ 'subscribe.modal.heading.new.sensor') location=true}}
      {{> footer}}

      {{> body_scripts}}
      <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
      <script src="/pm25/js/request.js"></script>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57857d9efaca9ced"></script>
   </body>
</html>

