
<html>
   <head>
      <meta http-equiv="refresh" content="600">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{> meta}}
      <title>{{ page_title }}</title>
      <link rel="stylesheet" href="/pm25/css/materialize.css">
      <link rel="stylesheet" href="/pm25/css/station.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
         rel="stylesheet">
      {{> ga}}
   </head>
   <body>
      {{> fb}}
      <div class="card">
         <a id="logo" href="/pm25/"></a>
         <!-- Go to www.addthis.com/dashboard to customize your tools -->
         <div class="addthis_sharing_toolbox"></div>
         <h1><span id="latest-pm25">{{ data.Dust2_5 }}</span><span id="unit">&micro;g/m&sup3;</span></h1>
         <h2 id="pm25"><span class="marked">PM2.5</span> 即時濃度<a class="question-mark" href="javascript:void(0);"><i class="material-icons">help_outline</i></a></h2>
         <h3 id="location">@{{ display_name }}</h3>
         <h3 id="update">上次更新於 <time id="latest-time" data-livestamp="{{ data.Create_at }}"></time></h3>
         <div id="latest-status"></div>
         <br>
         <a id="subscribe" class="waves-effect waves-light btn-large modal-trigger" href="#subscribe-modal"><i class="material-icons">add_alert</i>空氣不好時通知我</a>
      </div>
      {{> pm25_modal}}
      <div id="subscribe-modal" class="modal">
         <div id="form-header">PM2.5 空氣品質通知<i class="material-icons modal-close" id="close">close</i></div>
         <div id="subscribe" class="modal-content">
            <form action="https://docs.google.com/a/mozilla.com/forms/d/e/1FAIpQLSeZ9OEFQrRhmtz3azHVwbMDoraNo14r1qiq2TOp8APRWQY12g/formResponse" method="POST" id="subscribe-form" target="temp_iframe" onsubmit="submitted=true;">
               <input id="sub-email" name="entry.301006003" class="projects-input" jsname="L9xHkb" type="text" placeholder="電子郵件（必填）" required="">
               <input id="sub-name" name="entry.319252376" class="projects-input" jsname="L9xHkb" type="text" placeholder="姓名">

               <label>你平常一週中有幾天在此區域活動？</label>
               <select id="sub-freq" name="entry.226467370" jsname="L9xHkb" type="text">
                  <option disabled="" selected="" value="">請選擇最接近的一項</option>
                  <option value="幾乎每天">幾乎每天</option>
                  <option value="一週五天">一週五天</option>
                  <option value="一週兩天">一週兩天</option>
                  <option value="很少">很少</option>
               </select>
               <span></span>
               <label>你為何關心PM2.5數值?</label>
               <select id="sub-reason" name="entry.565411271" jsname="ekGZBc" type="text">
                  <option disabled="" selected="" value="">請選擇最符合的一項</option>
                  <option value="我有心血管／呼吸系統疾病">我有心血管／呼吸系統疾病</option>
                  <option value="我的家人有心血管／呼吸系統疾病">我的家人有心血管／呼吸系統疾病</option>
                  <option value="我在意自己的健康">我在意自己的健康</option>
                  <option value="我在意孩子和長輩的健康">我在意孩子和長輩的健康</option>
                  <option value="我想協助改善社區／城市居住環境">我想協助改善社區／城市居住環境</option>
               </select>
               <input name="entry.68562270" jsname="ekGZBc" value="" type="hidden">
               <input name="entry.1918318603" jsname="L9xHkb" type="hidden" value="{{ id }}">
               <input name="fvv" value="1" type="hidden">
               <input name="draftResponse" value="[,,&quot;365822309556244423&quot;]
                  " type="hidden">
               <input name="pageHistory" value="0" type="hidden">
               <input name="fbzx" value="365822309556244423" type="hidden">
               <div id="submit-area">
                 <input name="submit" value="提交" id="subscribe-sensor" class="waves-effect waves-light btn-large" type="submit">
               </div>
               <p class="mute">按下提交，表示你同意mozilla的<a href="/privacy.html" target="_blank">隱私權政策</a></p>
            </form>
         </div>
      </div>

  <script type="text/javascript">
    var submitted=false;
  </script>
  <iframe name="temp_iframe" id="temp_iframe" style="display:none;" onload="if (submitted) {$('#subscribe-modal').closeModal();Materialize.toast('提交成功！我們將在空氣品質變糟時發出電子郵件通知。', 5000);}">
  </iframe>

      <footer>
         <a id="email" href="mailto:sensorweb@mozilla.com"><i class="material-icons">email</i>sensorweb@mozilla.com</a>
         <br>
         <a href="/privacy.html" target="_blank">隱私權政策</a>
      </footer>


      <script src="/pm25/js/jquery-2.1.1.min.js"></script>
      <script src="/pm25/js/materialize.js"></script>
      <script src="/pm25/js/moment-with-locales.min.js" type="text/javascript"></script>
      <script src="/pm25/js/livestamp.min.js" type="text/javascript"></script>
      <script src="/pm25/js/station.js"></script>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57857d9efaca9ced"></script>
   </body>
</html>

