
<html>
   <head>
      {{> meta page_title=(__ 'station.%s.title' display_name)}}
      {{> styles }}
      {{> head_scripts}}
   </head>
   <body>
      {{> header}}
      {{> fb}}

      {{> concentration display_name=display_name form_type='station' data=data week=week}}

      <div class="card">
         <h2 class="medium">{{{__ 'relevant.stations.heading'}}}</h2>
         <ul id="country-rank">
            {{#if nearbyStations.length}}
            {{#each nearbyStations}}
              {{> concentration_listitem display_name=this.display_name path='/pm25/station/' slug=this.slug data=this.data}}
            {{/each}}
            {{else}}
               <li class="nodata">{{__ 'sorry.no.nearby.station'}}</li>
            {{/if}}
         </ul>
      </div>

      {{> pm25_modal}}
      {{> subscribe_modal form_id='station-subscribe-form' form_type='station' form_title=(__ 'subscribe.modal.heading.pm25') station_id=id}}
      {{> footer}}

      {{> body_scripts}}
      <script src="/pm25/js/station.js" type="text/javascript"></script>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57857d9efaca9ced"></script>
   </body>
</html>

