
<html>
   <head>
      {{> meta page_title=(__ 'station.%s.title' display_name)}}
      <title>{{ page_title }}</title>
      {{> styles }}
      {{> head_scripts}}
   </head>
   <body>
      {{> header}}
      {{> fb}}
      <div class="card">
         <!-- Go to www.addthis.com/dashboard to customize your tools -->
         <div class="addthis_sharing_toolbox"></div>
         <h1><span id="latest-pm25">{{ data.pm2_5 }}</span><span id="unit">&micro;g/m&sup3;</span></h1>
         <h2 id="pm25">{{{__ 'pm25.concentration'}}}<a class="question-mark" href="javascript:void(0);"><!--googleoff: index--><i class="material-icons">help_outline</i><!--googleon: index--></a></h2>
         <h3 id="location">@{{ display_name }}</h3>
         <h3 id="update">{{__ 'last.update'}}<time id="latest-time" data-livestamp="{{ data.create_time }}"></time></h3>
         <div id="latest-status"></div>
         <br>
         <a id="subscribe" class="waves-effect waves-light btn-large modal-trigger" href="#subscribe-modal"><!--googleoff: index--><i class="material-icons">add_alert</i><!--googleon: index-->{{__ 'pm25.subscribe.button'}}</a>
      </div>
      <div class="card">
         <h2 class="medium">{{{__ 'relevant.stations.heading'}}}</h2>
         <ul id="country-rank">
            {{#if nearbyStations.length}}
              {{#each nearbyStations}}
               <li>
                  <a class="clearfix" href="/pm25/station/{{ this.slug }}/">
                     <span class="concentration">
                        <span class="concentration-value">{{ this.data.pm2_5 }}</span><span id="unit">&micro;g/m&sup3;</span>
                     </span>
                     <span class="location">@{{ this.slug }} <span class="distance">({{__ 'distance'}} {{ this.distance }} {{__ 'km'}})</span></span>
                     <time class="update-time" data-livestamp="{{ this.data.create_time }}"></time>
                  </a>
               </li>
              {{/each}}
            {{else}}
              <li class="nodata">{{__ "sorry.no.nearby.station"}}</li>
            {{/if}}
         </ul>
      </div>

      {{> pm25_modal}}
      {{> subscribe_modal}}
      {{> footer}}

      {{> body_scripts}}
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57857d9efaca9ced"></script>
   </body>
</html>

