
<html>
   <head>
      {{> meta page_title=(__ 'unsubscribe.title')}}
      {{> styles}}
      {{> head_scripts}}
   </head>
   <body>
      {{> header}}
      {{> fb}}
      <div class="card">
         <h1 class="heading">{{__ 'unsubscribe.heading'}}</h1>
         <div id="unsubscribe-content">
            <form action="{{ config.api_url }}/pm25/subscriptions" method="POST" id="unsubscribe-form">
               <input type="hidden" name="id" value="{{ id }}">
               <input type="hidden" name="type" value="{{ type }}">
               <input id="sub-email" name="email" class="subscribe-input" type="text" placeholder="{{__ 'input.email.placeholder'}}" required="">
               <input name="submit" value="{{__ 'unsubscribe.button'}}" id="unsubscribe" class="waves-effect waves-light btn-large" type="submit">
            </form>
         </div>
         <br>
      </div>

      {{> footer}}

      {{> body_scripts}}
      <script src="/pm25/js/unsubscribe.js"></script>
   </body>
</html>

