html,body {
  height: 100%;
  font-size: 12pt;
}

body {
  text-align: center;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

/* Typography */

h1.heading {
  text-align: center;
  top: 0;
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 40px;
  width: 100%;
  font-weight: 700;
}

p {
  line-height: 2rem;
  color: #333;
}

h1 {
  margin-top: 60px;
  margin-bottom: 5px;
}

h2 {
  font-size: 3.2em;
  letter-spacing: 1.5px;
}

h3,h4 {
  margin-bottom: 40px;
  color: #454545;
  font-size: 1.8em;
  font-weight: 700;
}

a {
  color: #85D9D1;
  text-decoration: underline;
}

a:hover {
  color: #00BDAF;
}

/* Navbar */

nav{
  /*border-top: 2px #FFF solid;*/
  z-index: 1000 !important;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  height: 75px !important;
  /*line-height: 75px !important;*/
}

nav ul a,
#nav a:hover,
nav .button-collapse:hover,
nav .brand-logo {
  color: #FFF;
}
nav ul a,
nav .button-collapse {
  text-decoration: none;
}
nav .button-collapse i {
  line-height: 75px !important;
  top:10px;
  left: 10px;
}

nav li a{
  font-size: .95em;
  padding: 0 16px 0 16px;
  line-height: 75px;
}

.dropdown-button a {
  line-height: auto;
}

#arrow {
  margin-top: 4px;
  margin-left: 5px;
  font-size: 1.2rem;
}

.brand-logo {
  text-indent: 170%;
  font-size: 1.5em !important;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.2px;
  overflow: hidden;
  width: 220px;
  margin-top: 18px;
  background-image: url("../images/Logo-title.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}

.teal {
  background-color: #5cc7b8 !important;
}

/* Cards */

.no-padding {
  padding: 0;
}

.card {
  display: block;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,.05);
  margin: 22px auto;
  padding: 30px;
  max-width: 800px;
}

.card h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0px auto 10px auto;
  letter-spacing: .05em;
  color: #454545;
}

.card ul li.nodata,
.card ul li.nodata:first-child {
  border-top: none;
  border-bottom: none;
}
.card ul li.nodata a {
  display: inline;
}

.card ul li {
  display: block;
  padding: 5px 0;
  border-bottom: 1px dotted #9b9b9b;
}

.card ul li:first-child {
  border-top: 1px solid #ccc;
}

.card ul li:last-child {
  border-bottom: 1px solid #ccc;
}

.card ul li a {
  display: block;
  text-decoration: none;
  clear: both;
  color: none;
  padding-bottom: 32px;
}
.card ul li a .concentration {
  display: block;
  text-align: left;
  color: #454545;
  font-size: 1.8em;
  font-weight: 400;
}

.card ul li a .location {
  float: left;
  color: #454545;
  font-size: .8em;
  text-align: left;
}

.card ul li a .distance {
  display: inline-block;
  font-size: .7em;
}

.card ul li a .update-time {
  float: right;
  color: #9b9b9b;
  font-size: .8em;
}

.card ul.collapsible .collapsible-header i {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin-left: -25px;
  padding: 4px 0;
}
.card ul.collapsible .collapsible-header b {
  vertical-align: middle;
}

.card ul.collapsible {
  box-shadow: none;
  border-left: none;
  border-right: none;
  margin-top: 40px;
  padding-bottom: 40px;
}
.card ul.collapsible li a {
  display: inline-block;
  padding-bottom: 0;
}

.card ul.collapsible li {
  padding: 0;
  border-bottom: none;
  color: #4a4a4a;
}

.requirements li:before {
	content: "•";
	/*position: absolute;*/
	color: #5CC7B9;
	margin-left: -15px;
	margin-right: 10px;
}


.card ul.collapsible li .active {
  border: none;
  background-color: #eee;
}

.card ul.collapsible li .collapsible-header:hover {
  /*border: none;*/
  background-color: #eee;
}

.card ul li:first-child {
  border-top: none;
}

.card ul li:last-child {
  border-bottom: none;
}

.collapsible-body {
  text-align: left;
  padding: 40px;
}

ul.requirements {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 15px; 
  line-height: 1.6;
}
ul.requirements li {
  list-style-type: disc;
  margin-left: 20px;
}

.input-field input[type=search]:focus ~ label i {
  color: #444;
}

/* Form */

.subscribe-input,
.select-dropdown {
  border: 1px solid #5CC7B9 !important;
  box-sizing: border-box;
  transition: none;
  color: #333;
}

.subscribe-input:focus:not([readonly]) {
  border-bottom: 2px;
  box-shadow: unset;
}

.subscribe-input,
.select-dropdown {
  padding-left: 1rem !important;
  margin-left: -0.5rem !important;
}

.caret {
  color: #5CC7B9 !important;
  top: 57px !important;
}

.subscribe label {
  text-align: left !important;
  font-size: .9em;
  float: left;
  height: 40px;
  padding-top: 10px;
  color: #5CC7B9;
}

.sub-reason-join {
  margin-top: 40px !important;
}

.subscribe-form {
  text-align: left;
}

.submit-area {
  text-align: center;
}

.subscribe-sensor input {
  padding-top: 15px;
}

.subscribe-form .mute {
  margin-bottom: 300px;
}

.form-header {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #5CC7B9;
  color: #fff;
  font-size: 1.2em;
  padding: 1rem;
}

.form-header i {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.form-submit .btn-large {
  padding: 0;
}

::-webkit-input-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
}

#unsubscribe {
  padding: 15px;
}

#map {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
}

.map {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
}

.coords-error {
  color: red;
  display: none;
}

.gps-progress {
  display: none;
}

/* Buttons */

.marked {
  -webkit-text-decoration-style: dotted;
  -webkit-text-decoration-color: #9b9b9b;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #9b9b9b;
  cursor: pointer;
}

#logo {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../images/logo.png);
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

#share {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
#share i {
  color: #85D9D1;
  font-size: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.addthis_sharing_toolbox {
  text-align: right;
}

.btn-large {
  height: 55px;
  width: auto;
  text-align: center;
  border-radius: 55px !important;
  text-transform: capitalize;
  font-size: 1.1em;
  background-color: #5cc7b8;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  color: #FFF !important;
  margin-top: 30px;
  padding: 0 1.2rem;
}

.btn-large i {
  position: relative;
  top: 6px;
  margin-right: 6px;
  margin-top: -8px;
}

.btn-large:hover {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
}

/* Text */

.medium {
  font-size: 1.4em !important;
  letter-spacing: 0px !important;
}

.description {
  padding: 10px 40px 40px 40px !important;
}

.description p {
  line-height: 1.8rem;
  margin-bottom: 35px;
}

.description ul,.description li {
  line-height: 1.8rem;
}

.mute {
  margin-top: 20px;
  text-align: center;
  font-size: .8em;
  color: #757575;
  line-height: 1.5;
}

#latest-pm25 {
  font-size: 1.4em;
}

#unit {
  font-size: .3em;
  color: #757575;
}

#pm25 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0px auto 10px auto;
  letter-spacing: .05em;
  color: #454545;
}

#latest-status {
  display: inline-block;
  text-align: left;
  color: #757575;
  font-size: 1.05em;
}

#location {
  font-size: 1.2em;
  color: #454545;
  margin: 20px auto 10px auto;
  font-weight: normal;
}

#update {
  font-size: .8em;
  font-weight: 200;
  color: #9b9b9b;
  margin: 10px auto 30px auto;
}

.low {
  color: #60CC4A;
}
.moderate {
  color: #F1BE4A;
}
.high {
  color: #FF6360;
}
.extreme {
  color: #D95AF9;
}


/* Footer */

#email {
  text-decoration: none;
}

#email i {
  position: relative;
  top: 6px;
  margin-right: 6px;
}

footer {
  padding-bottom: 30px;
}

/* Modal */

.pm25-content {
  text-align: left;
  padding: 40px;
}

.modal {
  max-height: 100%;
}

.modal-content {
  width: 90%;
  margin: 20px auto;
}

.modal {
  min-width: 400px;
}

.cta {
	text-align: center;
	margin-bottom: 10px;
 }

@media only screen and (max-width: 992px) {

  .modal {
    width: 95%;
    min-width: auto;
    top: 2% !important;
  }

  .modal .modal-content {
    padding: 12px;
  }

  #intro-video {
    width: 100%;
  }
}

@media only screen and (max-width : 480px) {
  .card ul li a .location {
    width: 160px;
  }
  .collapsible-body {
    text-align: left;
    padding: 20px;
    font-size: .9em;
    line-height: 1.6;
  }
}
@media only screen and (max-width : 844px) {

  .card {
  	margin: 22px 22px;
  }
}