
body {
	text-align: center;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

a {
  color: #85D9D1;
  text-decoration: underline;
}

a:hover {
  color: #00BDAF;
}

#logo {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../images/logo.png);
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

#share {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
#share i {
  color: #85D9D1;
  font-size: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
}

#email {
  text-decoration: none;
}

#email i {
  position: relative;
  top: 6px;
  margin-right: 6px;
}

.card {
	display: block;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,.05);
	margin: 22px 22px;
  padding: 30px;
}

.addthis_sharing_toolbox {
	text-align: right;
}

#feedback-modal {
  width: 60%;
}

#subscribe-form {
  text-align: left;
}
#submit-area {
  text-align: center;
}
#subscribe-sensor {
  padding-top: 15px;
}
#subscribe-form .mute{
  margin-bottom: 300px;
}

/*Lists*/

.card h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0px auto 10px auto;
  letter-spacing: .05em;
  color: #454545;
}

.card ul li.nodata,
.card ul li.nodata:first-child {
  border-top: none;
  border-bottom: none;
}
.card ul li.nodata a {
  display: inline;
}

.card ul li {
  display: block;
  padding: 5px 0;
  border-bottom: 1px dotted #9b9b9b;
}
.card ul li:first-child {
  border-top: 1px solid #ccc;
}

.card ul li:last-child {
  border-bottom: 1px solid #ccc;
}

.card ul li a {
  display: block;
  text-decoration: none;
  clear: both;
  color: none;
  padding-bottom: 32px;
}

.card ul li a .concentration {
  display: block;
  text-align: left;
  color: #454545;
  font-size: 1.8em;
  font-weight: 400;
}
.card ul li a .location {
  float: left;
  color: #454545;
  font-size: 1em;
}
.card ul li a .update-time {
  float: right;
  color: #9b9b9b;
  font-size: .8em;
}

/*Sections*/

.fullscreen{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  /*background-color: #333;*/
}

#background-1{
  background: url(../images/02_cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#background-2{
  background: url(../images/02_give_feedback.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#image-1{
  background: url(../images/02_contribute_all.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
}

#image-2{
  background: url(../images/02_contribute.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
}

.projects-input,
.projects-textarea, 
.select-dropdown {
  border: 1px solid #5CC7B9 !important;
  box-sizing: border-box;
  transition: none;
  color: #333;
}

.projects-input:focus:not([readonly]),
.projects-textarea:focus:not([readonly]) {
  border-bottom: 2px;
  box-shadow: unset;
}

.projects-input,
.projects-textarea,
.select-dropdown {
padding-left: 1rem !important;
margin-left: -0.5rem !important;
}

.dropdown-content {
  padding: 0 !important;
  z-index: 2000;
}

.projects-textarea{
  padding-top: .75rem !important;
}

.input-field {
	margin-top: 0px;
}

.caret {
  color: #5CC7B9 !important;
  top: 57px !important;
}

/*
.projects-textarea {
  padding: 1rem !important;
  margin-top: 16px;
  min-height: 7rem;
}*/

.set-margin {
	margin-top: 3px !important;
	/*margin-bottom: 38px !important;*/
}

.projects-textarea.set-margin {
	/*margin-bottom: 36px !important;*/
}

#subscribe label {
  text-align: left !important;
  font-size: .9em;
  float: left;
  height: 40px;
  padding-top: 10px;
  color: #5CC7B9;
}

.dropdown-content{
  width: 250px !important;
  margin-top:49px;
  z-index: 10;
  top: 40px !important;
}

#form-header {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #5CC7B9;
  color: #fff;
  font-size: 1.2em;
  padding: 1rem;
}

#form-header i{
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.form-submit .btn-large {
  padding: 0;
}

.form-submit .waves-button-input {
  height: 100%;
  width:100%;
}

#projects-other-submit {
  top: 14px;
}

::-webkit-input-placeholder {
	color: #aaa;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;
}


html, body{
  height: 100%;
  font-size: 12pt;
}

#page-container {
  min-height: calc(100% - 340px);
  position: relative;
}

nav{
  /*border-top: 2px #FFF solid;*/
  z-index: 1000 !important;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  height: 75px !important;
  /*line-height: 75px !important;*/
}

nav ul a,
nav .brand-logo {
  color: #FFF;
}

nav .button-collapse i {
  line-height: 75px !important;
  top:10px;
  left: 10px;
}

nav li a{
  font-size: .95em;
  padding: 0 16px 0 16px;
  line-height: 75px;
}

.dropdown-button a {
  line-height: auto;
}

#arrow {
  margin-top: 4px;
  margin-left: 5px;
  font-size: 1.2rem;
}

.brand-logo {
  text-indent: 170%;
  font-size: 1.5em !important;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.2px;
  overflow: hidden;
  width: 220px;
  margin-top: 18px;
  background-image: url("../images/Logo-title.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.teal {
  background-color: #5cc7b8 !important;
}

.banner {
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 50px;
}

#index-banner {
  height: 555px;
}


.place-image {
  display: block;
  background-color: #ccc;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 20px;
}

.projects {
  padding: 3rem 0;
}


/*Typography*/


p {
  line-height: 2rem;
  color: #333;
}

h1 {
  margin-top: 60px;
  margin-bottom: 5px;
}

h2 {
  font-size: 3.2em;
  letter-spacing: 1.5px;
}

h3, h4 {
  margin-bottom: 40px;
  color: #454545;
  font-size: 1.8em;
  font-weight: 700;
}

.medium {
  font-size: 1.4em !important;
  letter-spacing: 0px !important;
}

.mute {
  margin-top: 20px;
  text-align: center;
  font-size: .8em;
  color: #757575;
  line-height: 1.5;
}

#latest-pm25 {
  font-size: 1.4em;
}

#unit {
  font-size: .3em;
  color: #757575;
}

#pm25 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0px auto 10px auto;
  letter-spacing: .05em;
  color: #454545;
}

#latest-status {
  display: inline-block;
  text-align: left;
  color: #757575;
  font-size: 1.05em;
}

#location {
  font-size: 1.2em;
  color: #454545;
  margin: 20px auto 10px auto;
  font-weight: normal;
}

#update {
  font-size: .8em;
  font-weight: 200;
  color: #9b9b9b;
  margin: 10px auto 30px auto;
}

.contents{
  font-size: 1.1em;
  line-height: 1.65;
  font-weight: 300;
  color: #757575;
  text-align: left;
}

.contents a {
  color: #87D9D1;
}

.contents a:hover {
  color: #1CBCAD;
}

.text-white {
  color: #FFF;
}

.low {
  color: #60CC4A;
}
.moderate {
  color: #F1BE4A;
}
.high {
  color: #FF6360;
}
.extreme {
  color: #D95AF9;
}

/*Footer*/

.page-footer a{
  color: #d2d2d2 !important;
  line-height: 1.8em;
  font-size: .95em;
}
.page-footer li a:hover{
  color: #fff !important;
}

.white-text.head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 0px !important;
  line-height: 1.5em;
}

.page-footer {
  height: 265px;
  background-color: #222 !important;
  width: 100%;
}

footer {
  padding-bottom: 30px;
}

.container {
  width: 80% !important;
}

@media only screen and (max-width: 992px) {
  .page-footer {
    height: auto;
    position: relative;
  }
  .container {
    width: 90% !important;
  }
}

.page-footer .container {
  /*padding: 40px 0 40px 0;*/
  padding-top: 40px;
}


/*Button*/

.btn-large {
  height: 55px;
  width: auto;
  text-align: center;
  border-radius: 55px !important;
  text-transform: capitalize;
  font-size: 1.1em;
  background-color: #5cc7b8;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  color: #FFF !important;
  margin-top: 30px;
}

.btn-large i{
  position: relative;
  top: 6px;
  margin-right: 6px;
  margin-top: -8px;
}

.btn-large:hover{
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
}

.btn-ghost {
  background-color: rgba(0,0,0,0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px #FFF solid;
  color: #FFF !important;
}

#sensorweb-projects .card:hover .btn-ghost{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  color: #454545 !important;
}

.btn-control {
  margin-top: 2.5px;
  height: 30px;
  border-radius: 30px;
  width: 120px;
  font-size: 1em;
  overflow: auto;
  z-index: 10;
}

.btn-control i{
  font-size: 1.2em;
  line-height: 30px;
  position: absolute;
  left: 10px;
  top: -1px;
}

.btn-control span{
  font-size: .8em;
  line-height: 30px;
  position: absolute;
  left: 35px;
  top: 0px;
}

/*
.button-collapse {
  color: #26a69a;
}*/

/*Parallax*/

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}


@media only screen and (max-width : 992px) {
  .place-image {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .banner, #what, #other-projects {
    text-align: center;
  }
}
@media only screen and (min-width : 992px) {

  .image-right {
    float: right;
  }

  .image-left {
    float: left;
  }

}

@media only screen and (max-width : 600px) {
  /*#index-banner .section {
    top: 0;
  }*/
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.login {
  margin-left: 20px;
}

.login a {
  display: inline;
  margin-top: 16px;
  border: #FFF 1px solid;
  padding: 10px 30px !important;
  border-radius: 40px;
  text-align: center;
  transition: all .2s ease;
}

.login a:hover {
  background-color: #fff;
  color: #5CC3B6;
  transition: all .2s ease;
}


footer.page-footer {
  margin: 0;
}

.logo-mozilla {
  margin-top: 4px;
  display: block;
  width: 96px;
  height:26px;
  margin-bottom: 20px;
}

#tabzilla a{
  text-indent: 170%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 147px;
  height: 36px;
  background-image: url("../images/tabzilla-static.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  z-index: 2;
}

#tabzilla a:hover{
  background-color: rgba(0,0,0,0);
}

h3.subtitle {
  font-size: 1.4em;
  margin-bottom: 0px;
}

.modal {
  /*padding: 1rem;*/
  max-height: 100%;
}

.modal-content {
  width: 90%;
  margin: 20px auto;
}

.col-right {
  padding-left: 40px !important;
}

.no-margin {
  margin: 0;
}

#other-projects {
  background-color: #f7f7f7;
}


#sensorweb-projects {
  padding-bottom: 0;
}

#sensorweb-projects .col {
  min-height: 490px;
  position: relative;
  margin-bottom: 60px;
}
#sensorweb-projects .card {
  margin-bottom: 40px;
}

#sensorweb-projects .subtitle {
  position: absolute;
  top: 38%;
  z-index: 10;
  color: #fff;
  font-weight: 400;
  left:0;
  right:0;
  margin: auto;
  font-size: 1.8em;
}

#sensorweb-projects .card-image {
  background: url(../images/02_cover.jpg) no-repeat center center;
  background-size: cover;
  height:400px;
}



#sensorweb-projects .bottom {
  position: absolute;
  bottom: 32%;
  left:0;
  right: 0;
  margin: auto;
}

.modal {
  min-width: 400px;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 95%;
    min-width: auto;
    top: 2% !important;
  }
  .modal .modal-content {
    padding: 12px;
  }
}

.modal-content .terms {
  color: gray;
  font-size: 0.8rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

#google-sign-in-modal {
  width: 35% !important;
}

#user-id {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;
  padding: 0 1rem;
  box-sizing: border-box;
}

