{
    "tw": {
        "Taipei": "臺灣臺北市",
        "Taipeihsien": "臺灣臺北市",
        "Taipeishih": "臺灣臺北市",
        "Taichung": "臺灣臺中市",
        "Taichunghsien": "臺灣臺中市",
        "Taichungshih": "臺灣臺中市",
        "default": "臺灣臺北市"
    }
}